{% extends "base.html" %}
{% block title %} Register {% endblock %}

{% block content %}
    <form method="POST">
        <h1> Register </h1>
        <div class="form-container">
            <label for="name">Nazwa</label>
            <input type="text" id="name" class="form-input" name="name" placeholder="Podaj swoją nazwę: " autocomplete="username">
            <label for="password1">Hasło</label>
            <input type="password" id="password1" class="form-input" name="password1" placeholder="Podaj swoje hasło: " autocomplete="new-password">
            <label for="password2">Potwierdź Hasło</label>
            <input type="password" id="password2" class="form-input" name="password2" placeholder="Potwierdź hasło: " autocomplete="new-password">
        </div>
        <br />
        <button type="submit" class="login-button">Zarejestruj się</button>
        <p class="login-option">Masz już konto?<a href="{{ url_for('auth.login') }}">login</a ></p>
    </form>
{% endblock %}